<header class="bg-body fixed w-full z-50">
    <nav class="bg-white w-full border-b border-slate-200">
        <div class="flex flex-wrap items-center justify-between mx-auto w-screen max-w-screen-xl px-6 sm:px-7 xl:px-8 2xl:px-10 py-3">
            <a href="{{ .Site.Home.Permalink }}" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="/img/icon.svg" class="h-8" alt="Flowbite Logo">
                <span class="self-center text-2xl font-semibold">{{ .Site.Title }}</span>
            </a>

            <ul id="nav-menu" class="flex w-auto space-x-2 font-medium">
                <li>
                    <a href="https://github.com/wahyuief/imagically" rel="noopener noreferrer" target="_blank"><img src="/img/github.svg" alt="github repository" class="w-6 rounded-full"></a>
                </li>
                <li>
                    <a href="https://github.com/sponsors/wahyuief" rel="noopener noreferrer" target="_blank" class="px-4 py-2 border border-slate-200 rounded-lg text-white bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 hover:opacity-90">Donate</a>
                </li>
            </ul>
        </div>
    </nav>
</header>